<% for( var i=0;i<results.length; i++ ) { var datetime = Framework.Utils.get_datetime_formatted(results[i].time); %> 
		<h3 class="list_header" eventid="<%=(results[i].id || results[i].url)%>">
			<a href="#">
				<div class="list_item_image">
					<img src="<%=results[i].pic%>" />
					<% if( results[i].timeless ) { %>
					<br/><%=jQuery.timeago(new Date(results[i].time))%>
					<% } %>
				</div>
				<ul class="list_item_header">
					<li class="name" title="<%=results[i].name%>"><%=Framework.Utils.shorten(results[i].name, 500)%></li>
					<li class="calendar-container"><% if(!results[i].timeless) { %><div class="calendar-box <%=datetime.dayofweek%>"><%=datetime.day%></div><%}%></li>
					<li class="datetime"><% if(!results[i].timeless && datetime.time) { %><%=datetime.time%><% } else { %>&nbsp;<% } %></li>
					<% if( results[i].distance ) { %><li class="distance"><%=results[i].distance%> miles</li><% } %>
					<li class="persons <% if(results[i].hasmsg) { %> show <% } %>" title="Activity Partners waiting"></li>
				</ul>
			</a>
		</h3> 
		<div class="list_item" eventid="<%=(results[i].id||results[i].url)%>"> 
			<div class="edit_event <% if(Framework.Authentication.isUserLoggedIn() && results[i].owner == Framework.User.id) { %> show <% } %>" title="Edit your activity">Edit your circle</div>
			<div class="cue-buttons">
				<input type="button" class="discover-new ui-button ui-priority-primary ui-corner-all" value="Post Message">
				<br/><a class="grow-circle">Grow The Circle</a>
			</div> 
			<div class="user_comments">
			</div>
			<% if(results[i].address) { %> 
			<div class="location"><span class="accordion-titles">Location:</span> <a target=_blank href="http://maps.google.com/?q=<%=(results[i].coords?results[i].coords:results[i].address)%>"><%=results[i].address%></a></div> 
			<% } %> 
			<div class="description"><span class="accordion-titles">Description:</span> <%=results[i].description%></div> 
			<div class="cost"><span class="accordion-titles">Cost:</span> <%=results[i].cost%></div> 
			<a href="<%=results[i].url%>" target=_blank>Read More</a>
		</div> 
<% } %> 
